body 
{
background-image:url('http://files.myopera.com/jorge965/albums/10274372/e.jpg');
  background-position:center; 
}

/* code below was original wallpaper, the image above replaces that one. */

/*
body {
  background-color: #1E90FF;
  color: white;
}

 */

h1 {
  color: #FFE4E1;
}

h2 {
  color: #FFE4E1;
}



p {
  border: solid 3px #00FFFF;
  font-family:"Arial", Helvetica, sans-serif;
  color: #FFFFFF;
}


.intro {
  color: purple;
  padding: 5px;
  background: yellow;
}

.intro p { background: silver; border-top-color: blue; }

.changes