body {
  background-color: black;
  background-image:url('/images/sony_ring.png');
  background-position:center; 
  font-family: 'quicksandlight', "Arial", Helvetica, sans-serif;
}

/* code below was original wallpaper, the image above replaces that one. */

/*
body {
  background-color: #1E90FF;
  color: white;
}

 */


h1 {
  text-align:center;
  color: #FAFAFA;
  font-size: 90px;
  font-family: 'absender', Arial, sans-serif;
}





@font-face {
	font-family: 'absender';
	src: url('absender.ttf');
	src: local('absender'), local('absender'), url('absender.ttf') format('truetype');
}



/* 

The following code indicates that when ever you mouse over a link, the text will chnage colour to red, enlarge by 150% and underline the link

*/


a:visited {
  color: yellow;
  
}

a,
a:link {
  color: #CCCCCC
}

a:hover, a:focus {
  color:red;
  font-size:150%;
 text-decoration:underline;
}






p {
  border-left: solid 3px #00FFFF;
  border-right: solid 3px #00FFFF;
  color: #FFFFFF;
  background: rgba(0,0,0,0.5);
  padding: 15px;
}


.days {
  color: black;
  background: rgba(0,255,255,0.7);
  box-shadow: 0 8px 5px rgba(0,0,0,0.3);
  padding: 15px;
}

.intro {
  color: purple;
  background: rgba(0,255,255,0.7);
  box-shadow: 0 8px 5px rgba(0,0,0,0.3);
  padding: 15px;
}

.intro p { background: silver; border-top-color: blue; }

pre {
  font-family: monospace;
  background: black;
  padding: 15px 10px;
}
code { 
  font-family: monospace;
  background: black;
  color: white;
  padding: 0 3px;
}

.paging, .paging li{
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.paging li {
  padding: 15px;
}



.menu {
 list-style: none oustide none;
  
}

.menu,
.menu li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none outside none;
  padding: 15px;
}


