---
title: My Third Day
layout: post
---


  <p>
    So Day 3 is already here!! It's 10:10am and the weather has started to pick up, finally. I've logged in, sorted out the various bits of paperwork that needed doing, messed around with the
    title font on the homepage. I tried to embed a font and increase the size of it, because, let's face it it isn't the best nor the biggest. 
    <br>
    So here's what the code looks like now, whether or not you cacn actually view the font is a different matter:
  </p>
<pre><code>
  h1 {
  text-align:center;
  color: #FAFAFA;
  font-size: 90px;
  font-family: 'absender', Arial, sans-serif;
}



@font-face {
	font-family: 'absender';
	src: url('absender.ttf');
	src: local('absender'), local('absender'), url('absender.ttf') format('truetype');
}
</code></pre>
<p>
   We have also decided to sign me up on twitter, so I can be infuenced and have an eye open for what all the 'big shots' are up to. Geeze, even as I created the account I already had one follower!
  WTF? I created links to my Twitter page on the "master.html" so that the links appear no-matter what page you are viewing.
  <br>
  The code is as so:
</p>
<pre><code>
&lt;a href=&quot;/index.html&quot;&gt;Home&lt;/a&gt;
&lt;a href=&quot;/about.html&quot;&gt;About Me&lt;/a&gt;
&lt;a href=&quot;https://github.com/boffnoff&quot;&gt;GitHub&lt;/a&gt;
&lt;a href=&quot;https://twitter.com/Boffnoff&quot;&gt;Follow me on Twitter&lt;/a&gt;
&lt;a href=&quot;http://store.steampowered.com&quot;&gt;Check out Steam&lt;/a&gt;
</code></pre>
<p>
  As you can probably tell, it's not the most difficult thing I have created so far, but Dave feels that it is necessary for a functioning and "Social" website as it were. After this
  <i>"Strenuous"</i> task I have to create a "nested" post.html. This involves creating a new .html file and placing it in the _layouts directory on <a href="https://github.com/boffnoff">GitHub</a>
  So I shall start to create that file, and afterwards, all of the content from the other pages will dynamically update and save me the hassle of doing it manually. I still haven't wuite got around
  doing that yet, but I have uploaded, embedded and changed the page font. The next item on the hit list was to optimize the wallpaper as for some reason, on occasions it took 20 seconds to load.
  And even when it did it blotched bits out. So to solve this I headed over to <a href="http://tinypng.org/">TinyPNG</a> to upload and compress my image. The wallpaper was compresseed by 54% and now
  loads in under a second. Thumbs up! I then proceeded to sort out this "post.html" business. I am still not really sure that the code did take over and work, but seeiing as the links on the homepage
  work, I think it's high time I cut it some slack. Despite that though, the hyperlinks that I had only just addded to the bottom of the page, have decieded to stop working, the reason for this i
  because of the "post.html" stealing the links and controlling the way the links are handled. Anyway for those that wish to see how this magic posting thing works:
</p>

<pre><code>
---
layout: master
---

&lt;h2 class=&quot;days&quot;&gt;
  &#123;{ page.title }}
  &lt;/h2&gt;

&lt;article&gt;
  
  &#123;{content}}
  
  
&lt;/article&gt;
</code></pre>
<p>
  However, Dave has found a simpler way of doing the exact same thing. It is still within the "post.html" file, but the following code is underneath that above. Observe:
</p>
  
<pre><code>
&lt;ul class=&quot;paging&quot;&gt; 
        {% if page.previous.url %} 
        &lt;li class=&quot;paging__previous&quot;&gt; 
                &lt;a href=&quot;{{page.previous.url}}&quot;&gt;&amp;laquo; {{page.previous.title}}&lt;/a&gt; 
        &lt;/li&gt; 
        {% endif %} 
        {% if page.next.url %} 
        &lt;li class=&quot;paging__next&quot;&gt; 
                &lt;a href=&quot;{{page.next.url}}&quot;&gt;{{page.next.title}} &amp;raquo; &lt;/a&gt; 
        &lt;/li&gt; 
        {% endif %} 
&lt;/ul&gt;  
</code></pre>
  
 
<hr>
