/*
    Document   : beta/index.css
    Created on : 2014-03-04 03:37 PM
    Author     : boffnoff21
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body {
  background-color: #e5e5e5;
  background-position: center; 
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}    

/*
.container{
  padding: 2%;
}
*/

@media all and (min-width:600px){

  p {
  color: #111;
   padding: 15px;
}
  
}

@media screen and (min-device-width: 1px) and (max-device-width: 599px) { 
  body {
    background-color: #e5e5e5;
    }
  p {
    color: #111;
    font-size: 15px;
    }  

h1 {
  text-align: center;
  color: #111;
  font-family: Helvetica, Arial;
  font-weight: lighter;
  font-size: 35px;
  background-color: #f5f5f3;
} 

}


p {
    padding-left: 10%;
    background-color: #fff;
}



h1 {
  text-align: center;
  font-family: Helvetica, Arial;
  font-weight: lighter;
  font-size: 40px;
  background-color: #f5f5f3;
  
}  



hr {
    color: #111;
    background-color: #111;
    height: 1px;  
    width: 90%;
    align-content: right;
    

}


.netowrk_connections,p {
    margin:1px;
}












/* THANKS to: http://www.designcouch.com/home/why/2013/09/19/ios7-style-pure-css-toggle/ I have iOS 7 toggles */

input#toggle {
max-height: 0;
max-width: 0;
opacity: 0;
}


input#toggle + label {
display: block;
position: relative;
box-shadow: inset 0 0 0px 1px #d5d5d5;
text-indent: -33.3300px;
height: 20px;
width: 33.33px;
border-radius: 15px;
}

input#toggle + label:before {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0;
border-radius: 15px;
background: rgba(19,191,17,0);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
}

input#toggle + label:after {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0px;
border-radius: 15px;
background: white;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}



input#toggle:checked + label:before {
width: 33.33px;
background: rgba(19,191,17,1);
}

input#toggle:checked + label:after {
left: 20px;
box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}

/*TO GET DIFFERENT TOGGLES WORKING THE #TOGGLE NEEDED TO BE CHANGED */


input#bottom {
max-height: 0;
max-width: 0;
opacity: 0;
}


input#bottom + label {
display: block;
position: relative;
box-shadow: inset 0 0 0px 1px #d5d5d5;
text-indent: -33.3300px;
height: 20px;
width: 33.33px;
border-radius: 15px;
}

input#bottom + label:before {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0;
border-radius: 15px;
background: rgba(19,191,17,0);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
}

input#bottom + label:after {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0px;
border-radius: 15px;
background: white;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}



input#bottom:checked + label:before {
width: 33.33px;
background: rgba(19,191,17,1);
}

input#bottom:checked + label:after {
left: 20px;
box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}




/* ring toggle */

input#ring {
max-height: 0;
max-width: 0;
opacity: 0;
}


input#ring + label {
display: block;
position: relative;
box-shadow: inset 0 0 0px 1px #d5d5d5;
text-indent: -33.3300px;
height: 20px;
width: 33.33px;
border-radius: 15px;
}

input#ring + label:before {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0;
border-radius: 15px;
background: rgba(19,191,17,0);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
}

input#ring + label:after {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0px;
border-radius: 15px;
background: white;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}



input#ring:checked + label:before {
width: 33.33px;
background: rgba(19,191,17,1);
}

input#silent:checked + label:after {
left: 20px;
box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}





/* silent toggle */

input#silent {
max-height: 0;
max-width: 0;
opacity: 0;
}


input#silent + label {
display: block;
position: relative;
box-shadow: inset 0 0 0px 1px #d5d5d5;
text-indent: -33.3300px;
height: 20px;
width: 33.33px;
border-radius: 15px;
}

input#silent + label:before {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0;
border-radius: 15px;
background: rgba(19,191,17,0);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
}

input#silent + label:after {
content: "";
position: absolute;
display: block;
height: 20px;
width: 20px;
top: 0;
left: 0px;
border-radius: 15px;
background: white;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
-moz-transition: .25s ease-in-out;
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}



input#silent:checked + label:before {
width: 33.33px;
background: rgba(19,191,17,1);
}

input#silent:checked + label:after {
left: 20px;
box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}





input[type=range] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	height: 2px;
	width: 300px;
	border-radius: 2px;
	top: -5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	margin-right: 10px;
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	cursor: ew-resize;
}