<!doctype html>
<html lang="en">
    
<head>
  <link rel="icon" type="image/x-icon" href="http://www.boffnoff.me/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <meta http-equiv="cache-control" content="max-age=29030400" />
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/mobilemenu/rmm-js/responsivemobilemenu.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="viewport" content="width=device-width"> 

    
</head>
    
    
<body>
	    <div class='rmm' data-menu-style = "minimal">
            <ul>
                <li><a href='../index.html'>Home</a></li>
                <li><a href='../about.html'>About me</a></li>
                <li><a href='#gallery'>Gallery</a></li>
                <li><a href='#blog'>Blog</a></li>
                <li><a href='#links'>Links</a></li>
                <li><a href='#sitemap'>Sitemap</a></li> 
            </ul>
        </div>

        
  <header class="main_header">
    <h1>{{ page.title }}</h1></header>
    
    
<div id="container">
  
  
  <div class="content" role="main">
    {{content}}
  </div>
        
 </div>
      
      
</body>

</html>
