<html>

<head>
  <link rel="icon" type="image/x-icon" href="http://www.boffnoff.me/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/fonts/quicksand/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <meta name="msapplication-TileColor" content="#123456"/>
  <meta name="msapplication-TileImage" content="/favicon.ico"/>
  <meta name="viewport" content="width=device-width"> 
  <link rel='stylesheet' type='text/css' href='../css/styles.css'/>
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  
</head>

<body>
  <header class="main_header">
    <h1>{{ page.title }}</h1>
 <div id='cssmenu'>
<ul>
    <li class='active'><a href='http://boffnoff.me'><span>Home</span></a></li>
   <li class='has-sub'><a href='#'><span>Articles</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Work Experience</span></a>
            <ul>
               <li><a href='http://boffnoff.me/2013/10/21/first-day.html'><span>Day 1</span></a></li>
                <li><a href='http://boffnoff.me/2013/10/22/mastering-templates.html'><span>Day 2</span></a></li>
                <li><a href='http://boffnoff.me/2013/10/23/third-day.html'><span>Day 3</span></a></li>
                <li><a href='http://boffnoff.me/2013/10/24/fourth-day.html'><span>Day 4</span></a></li>
               <li class='last'><a href='http://boffnoff.me/2013/10/25/last-and-final-day.html'><span>Day 5</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Chrome OS</span></a>
            <ul>
               <li><a href='http://boffnoff.me/2013/11/08/google-chrome-os-weekly-build.html'><span>Chrome OS</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='http://boffnoff.me/about.html'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
      
    <ul class="menu-horizontal">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About Me</a></li>
      <li><a href="/misc.html">Misc</a></li>
      <li><a href="https://github.com/boffnoff">GitHub</a></li>
      <li><a href="https://twitter.com/Boffnoff">Follow me on Twitter</a></li>
      <li><a href="http://store.steampowered.com">Check out Steam</a></li>
    </ul>
  </header>
  <div class="content" role="main">
    {{content}}
  </div>
  <footer class="page_footer">
    Generated: {{ site.time | date: '%d %m %H:%M' }}
    
<!--      <img src="http://www.freecountercode.com//Website_Counters_4038195.gif" ><br> -->
    
  </footer>
    
</body>

</html>