<html>

<head>
  <link rel="stylesheet" type="text/css" href="/fonts/quicksand/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <meta name="viewport" content="width=device-width;">  
</head>

<body>
  <header class="main_header">
    <h1>{{ page.title }}</h1>
    <ul class="menu-horizontal">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About Me</a></li>
      <li><a href="/misc.html">Misc</a></li>
      <li><a href="https://github.com/boffnoff">GitHub</a></li>
      <li><a href="https://twitter.com/Boffnoff">Follow me on Twitter</a></li>
      <li><a href="http://store.steampowered.com">Check out Steam</a></li>
    </ul>
  </header>
  <div class="content" role="main">
    {{content}}
  </div>
  <footer class="page_footer">
    Generated: {{ site.time | date: '%d %m %H:%M' }}
  </footer>

</body>

</html>